.home-bg-container {
    background-image: url('./Home.png');
    background-size: cover; /* Ensures the image covers the whole container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    height: 100vh; /* Adjust based on requirement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.heading{
    font-size: 25px;
    color:blueviolet;
}
.para{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.button{
    width: 150px;
    padding: 10px;
    border-color: white;
    border-radius: 10px;
    background-color: transparent;
    color:white;
    font-size: 15px;
}